<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Public Speaking</b>. I love Public Speaking and improve my communication. I'm working through several online classes like coursera and udemy to improve my body language and communication.
			  </li>
			  <li>
				  <b>Blogging</b>. I'm a writer as well who loves to blog,write poem and im currently working on my own book named The Power of believing in yourself.

			  </li>
			  <li>
				  <b>Dancing and Fitness</b>. I'm a Dancer who loves to dance on bollywood,semi-classical and hiphop and freestyle.Though I'm not a fitness freak but know the value of health and I take Iyengar yoga classes and Enrolled in a Fitness Club
          on scrambles and getting lost in the woods.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Retirement Services is one of the main moto of Voya Financial and I got an oppurtinity to automate retirement services,liquidation and employee benefits which includes Omni Applications,TaskManger,.Etx
    		</li>
  			<li>
        
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Volunteers Photo Journalist Events 
  			</li>
  			<li>
  			  Volunteered in district Sport Commission in raising awareness of mental health and students well being
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
